@import org.webjars.play.WebJarsUtil
@(roomForm: Form[dk.alfabetacain.sametime.controllers.RoomData])(implicit webJarsUtil: WebJarsUtil, messages: Messages)

@import dk.alfabetacain.sametime.controllers.routes.Application

@import play.twirl.api.HtmlFormat
@main(s"Create Room") {
    <div class="ui container" style="text-align: center">
        <h2>Create room</h2>

        @helper.form(action = Application.createRoom, 'class -> "ui form") {
            <div class="fields">
                <div class="thirteen wide field">
                    <label>Youtube link or video id</label>
                    <input class="ui input" placeholder="Youtube link or video id" type="text" id="linkInput">
                </div>
                <input type="hidden" name="@roomForm("videoId").name" id="videoInput">
                <div class="three wide field">
                    <label>Room size</label>
                    <input maxlength="3" placeholder="Room size" type="text" name="@roomForm("size").name">
                </div>
            </div>
            <br />
            <br />
            <button class="ui button submit" type="submit">Create Room</button>
            <div class="ui error message"></div>
        }
    </div>
}{
    <script type="text/javascript">
        $('.ui.form')
                .form({
                   fields: {
                       @(roomForm("size").name): ['integer[1..10]'],
                       linkInput: 'empty'
                   }
                });
    </script>
    <script type="text/javascript">
            ScalaJSExample.createRoomEntry("linkInput", "videoInput");
    </script>
}
