@import org.webjars.play.WebJarsUtil
@(title: String)(content: Html)(afterScriptLoading: Html = play.twirl.api.HtmlFormat.empty)(implicit webJarsUtil: WebJarsUtil)

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title</title>
    @webJarsUtil.locate("semantic.min.css").css()
    @webJarsUtil.locate("3.2.1/jquery.min.js").script()
    @webJarsUtil.locate("semantic.min.js").script()
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    @menu(Some(title))
    @content
    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    @afterScriptLoading
  </body>
</html>
