@import org.webjars.play.WebJarsUtil
@(id: String, videoId: String)(implicit webJarsUtil: WebJarsUtil)

@main(s"Room $id") {
    <h2>Room @id</h2>
    <div style="text-align: center">
        <div id="player" />
    </div>

    <br />
    <br />
    <br />
    <div class="progress">
        <div id="progressbar" class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="2"></div>
    </div>
}{
    <script type="text/javascript">
            ScalaJSExample.roomEntry("@videoId", "@id", "progressbar");
    </script>
}
